/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mb-10{
    margin-bottom: 10px;
}
.square{
    width: 50px;
    height: 50px;
    background-color:lightblue;
    padding: 20%;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

main {
    background-color: lightblue;
}

ul {
    list-style: none;
}

.circle {
    background-color: white;
    color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 20%;
}

.cta-button {
    background-color: blue;
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.todos {
    background-color: white;
    padding: 20px 30px;
}

.tag {
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
}

.editorial {
    background-color: blue;
}

.q1goals {
    background-color: violet
}

.recruiting {
    background-color:green; 
}
.mobile {
    background-color: yellow;
}
.list {
    color: black;
    background-color: white;
}

.task {
    background-color: aquamarine;
    color: black;
}
.website {
    background-color:pink;
}
.sales {
    background-color: green;
}